<div class="profile">
    <section id="wrapper">
        <header id="header">
          <a href="{{ site.baseurl }}david">
                <img id="avatar" src="https://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=120"/>
          </a>
          <h1>{{ site.author.name }} </h1>
          <h2>{{ site.author.bio }}</h2>
          <h3>HealthKit Live Data <a target="_blank" href="https://github.com/lemarier/micro-gyroscope">❔</a></h3>
          <dl class="health-kit">
              <dt>❤️ </dt>
              <dd class="bpm"></dd>
              <dt>🚶</dt>
              <dd class="kms"></dd>
          <dl>
        </header>
    </section>
</div>
