<!doctype html>
<html>
<head>

  <!--
  David Lemarier
  https://lemarier.ca

  Your work is going to fill a large part of your life, 
  and the only way to be truly satisfied is to do what you believe 
  is great work. And the only way to do great work is to love what 
  you do. If you haven't found it yet, keep looking. Don't settle. 
  As with all matters of the heart, you'll know when you find it.

                                                  — Steve Jobs
  -->
  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}David Lemarier is {{site.data.strings.about.me}}.{% endif %}{% endcapture %}
  <title>{{ page.title }} &raquo; lemarier.ca</title>
  <meta property="og:title" content="{{ page.title }} &raquo; Lemarier.ca" />

  <meta name="description" content="{{ meta_desc }}">
  <meta property="og:description" content="{{ meta_desc }}" />

  <meta property="og:type" content="article" />
  {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}
  <meta property="og:image" content="https://lemarier.ca/images/d.jpg" />

  <meta property="article:author" content="https://lemarier.ca/about/" />
 <link rel="author" href="https://plus.google.com/102110452828825334035" />

  {% if page.class == "post" %}
  <link rel="canonical" href="https://lemarier.ca{{ page.url }}" />
  <meta property="og:url" content="https://lemarier.ca{{ page.url }}" />
  {% elsif page.class == "home" %}
  <link rel="canonical" href="https://lemarier.ca/" />
  <meta property="og:url" content="https://lemarier.ca/" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00bab8">
  <meta name="msapplication-TileColor" content="#00bab8">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="alternate" type="application/atom+xml" title="Lemarier.ca" href="https://lemarier.ca/atom.xml" />

  <link rel="stylesheet" href="/css/main.css" />

  <script src="https://use.typekit.net/lih0ybc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MWCQ4WF');</script>
  <!-- End Google Tag Manager -->

</head>
<body class="page-{{ page.class }}">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWCQ4WF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="{{ site.baseurl }}client/bundle.js"></script>
</body>
</html>


