---
layout: layout
---

<div class="postHeader">

  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <div class="byline">
    <span>By <a href="/about/" title="David Lemarier">David Lemarier</a></span>
    <time datetime="{{page.date | date: "%Y-%m-%d"}}">{{ page.date | date: "%B %e, %Y" }}</time>
    <span class="views" data-slug="{{ page.url }}"></span>
    Tagged with
    <ul class="tags">
      {% for tag in page.tags %}
      <li><a href="/tag/{{ tag }}/">{{ tag | replace: '-', ' ' }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% include ad.html %}

</div>

<article>

  {{ content }}
  {% if page.no_related != true and site.related_posts %}<p>(If you liked this, you might like <a href="{{ site.related_posts[0].url }}">{{ site.related_posts[0].title }}</a>.)</p>{% endif %}

</article>

<section class="meta">
  <h3>
    Discussion, links, and tweets
    <a class="rss" href="https://lemarier.ca/atom.xml" title="Subscribe to the Lemarier.ca Feed">
      <img src="/images/rss.png" alt="RSS Feed Icon" />
    </a>
  </h3>

  <section class="copy">
    <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=lemarier', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <p>

        <a href="https://twitter.com/DavidLemarier" class="avatar">
          <img src="/images/d.jpg" height="50" width="50" alt="David Lemarier" />
        </a>
        Hey, thanks for reading! I'm <a href="/about/">David Lemarier</a>
      </p>

      {% if page.hn %}<p>You can discuss, upvote, or poke fun at this post over at <a href="{{ page.hn }}">Hacker News</a>.</p>{% endif %}
      <p>
        If you enjoyed this article, you should <a href="https://twitter.com/DavidLemarier">follow me on Twitter</a> or sign up to get an email whenever I write something new:

        <input type="email" name="email" placeholder="email@email.com"/>
        <input type="hidden" value="lemarier" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <input type="submit" value="Subscribe" />
      </p>
    </form>

  </section>

  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}" title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }}</a>
  {% endif %}

  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}" title="Next Post: {{ page.next.title }}">{{ page.next.title }}</a>
  {% endif %}

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = 'https://lemarier.ca{{ page.url }}'
    }
    window.addEventListener('orientationchange', function () {
      DISQUS.reset({ reload: true })
    }, false)
  </script>

  <script async src="//lemarier-ca.disqus.com/embed.js"></script>
</section>
